// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-grid {
  width: 1200px;
}
.row {
  border: 1px solid #337ab7;
  border-bottom: 0;
}
